#mp-event_data #add_event_table #event_start,
#mp-event_data #add_event_table #event_end {
  min-width: 100px;
}
#mp-event_data .spinner.left {
  float: none;
}
#column-options .mp-weekday,
#column-options .mp-date {
  margin: 10px 0 0;
}
.active * {
  background-color: #F7FCFE;
}
.active td:first-child {
  border-left: 4px solid #0091cd;
}
