#mp-event_data {
  #add_event_table {
	#event_start, #event_end {
	  min-width: 100px;
	}
  }
  .spinner.left {
	float: none;
  }
}

#column-options {
  .mp-weekday, .mp-date {
	margin: 10px 0 0;
  }
}

#events-list .active {
  *{
    background-color: #F7FCFE;
  }
  td:first-child{
    border-left: 4px solid #0091cd;
  }
}
